# FL-28-Feb-2018 Created
# FL-25-Feb-2020 Changed

# Update considerations:
# - could update python packages
# - could switch to mod_wsgi-express (then can use Py3?)

# pip requirements file for HSNmail with a Python-2.7.13
# setuptools, pip, and virtualenv should already be present in the (virtual) python2.7
# the linux packages python-devel and mysql-devel were needed for installing mysqlclient
# install the packages below from a terminal; 
# newer versions may work; we used the versions below: 

# $ pip install -r requirements_py2.7.txt

future == 0.18.2
Django == 1.11.26				# latest 1.11 version (for Python-2)
django_extensions == 2.2.5		# latest version for Django-1.11
django-registration == 2.5.2	# latest version for Django-1.11
mysqlclient == 1.4.6			# requires linux mariadb, mariadb-libs, mariadb-devel
pycups == 1.9.74				# requires linux cups-devel
python-ldap == 3.2.0			# requires linux openldap-devel; also installed pyasn1-0.4.8 pyasn1-modules-0.2.8

# [eof]
